/* Avatar.module.css */
.Avatar {
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

.Wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Text {
  font-size: 0.9rem;
}
